/* AudioRecorder.css */
.audio-recorder-container {
    background-color: #ADD8E6; /* Light blue color */
    min-height: calc(100vh - 60px);
    padding: 40px;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
    
}

.record-button {
    border: none;
    border-radius: 50%;
    background-color: #003366;
    padding: 20px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s ease;
    position: relative;
}

.record-button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.record-button.glow {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 0, 0, 1);
    }
}

.image-upload {
    margin-top: 20px;
    text-align: center;
    padding: 60px;
    border: 2px dashed #003366;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    min-height: 200px; /* Increased height for better drag-and-drop area */
    width: 80%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.image-upload.dragging {
    background-color: #003366;
}

.image-input {
    display: none;
}

.image-upload-button {
    display: inline-block;
    padding: 40px 40px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-upload-button:hover {
    background-color: #266fbc;
}

.image-preview {
    margin-top: 15px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 40px;
}

.image-preview:hover {
    transform: scale(1.05);
}

